<div class="component">
    <div class="page-header">
        <h1>Binary Tree</h1>
    </div>
    <form class="form-inline">
        <div class="form-row">
            <div class="form-group">
                <label>Type:</label>
                <select class="form-control" id="treetype" #treetype (change)="onTreeTypeChange($event.target.value)">
                    <option value="bst" selected>Binary Search Tree</option>
                    <option value="avl">AVL Tree</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <select class="form-control" id="datatype" #datatype (change)="onDataTypeChange($event.target.value)">
                    <option value="number" selected>Number</option>
                    <option value="string">String</option>
                </select>
            </div> -->
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Value:</label>
                <input class="form-control" type="text" id="item" #item />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default-outline" (click)="add(item.value); item.value='';">Add</button>
                <button type="button" class="btn btn-default-outline" (click)="remove(item.value); item.value='';">Remove</button>
                <button type="button" class="btn btn-default-outline" (click)="clear();">Clear</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Traverse:</label>
                <select class="form-control" #traversaltype (change)="onTraversalTypeChange($event.target.value)">
                    <option value="inorder" selected>In Order</option>
                    <option value="preorder">Preorder</option>
                    <option value="postorder">Postorder</option>
                    <option value="levelorder">Level Order</option>
                </select>
            </div>
            <div class="form-group">
                <label>Recursive</label>
                <input class="form-control" type="checkbox" checked="checked" (change)="onRecursiveTraversalChange($event.target.checked)"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default-outline" (click)="traverse()">Traverse</button>
            </div>
        </div>
    </form>
    <div class="grid grid-pad">
        <div class="row">
            <div class="col">
                <div id="tree-view"></div>
            </div>
            <div class="col">
                <div *ngIf="traversalOutput != undefined && traversalOutput != null" style="float: left; display: inline;">
                    <div *ngFor="let item of traversalOutput">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>