.queue-node {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: #000;
    max-height: 40px;
    min-width: 40px;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    border-radius: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
}

.col-.array {
    padding-right: 0px;
}

.col-.array .queue-node {
    border-radius: 0px 0px 0px 0px;
    border-width: 2px 0px 2px 2px;
}

.col-.array:last-of-type .queue-node {
    border-width: 2px 2px 2px 2px;
}

.queue-node:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}