.queue-node {
    padding: 20px;
    text-align: center;
    color: #000;
    max-height: 80px;
    min-width: 80px;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    border-radius: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
}

.queue-node:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}