[class*='row-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    clear: both;
}

[class*='row-']:last-of-type {
    padding-right: 0;
    padding-bottom: 0;
}