<div class="component">
    <div class="page-header">
        <h1>Stack</h1>
    </div>
    <form class="form-inline">
        <div class="form-row">
            <div class="form-group">
                <label>Type:</label>
                <select class="form-control" #stacktype (change)="onStackTypeChange($event.target.value)">
                    <option value="linkedlist" selected>Linked List</option>
                    <option value="array">Array</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" #datatype (change)="onDataTypeChange($event.target.value)">
                    <option value="number" selected>Number</option>
                    <option value="string">String</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Value:</label>
                <input class="form-control" #item />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default-outline" (click)="push(item.value); item.value='';">Push</button>
                <button type="button" class="btn btn-default-outline" (click)="pop();">Pop</button>
                <button type="button" class="btn btn-default-outline" (click)="clear();">Clear</button>
            </div>
        </div>
    </form>
    <div class="grid grid-pad">
        <!-- <div class="stack-node-container" *ngFor="let slot of slots; let i=index;">
            <div class="row-" [class.array]="stackType === 'array'">
                <div class="stack-node" *ngIf="slot === true; else shownothing">
                    <h4>{{items[i]}}</h4>
                </div>
            </div>
        </div> -->
        <div *ngFor="let slot of stack.slots; let i=index;" class="col-" [class.array]="stackType === 'array'">
            <div class="stack-node" *ngIf="slot === true; else shownothing">
                <h4>{{stack.items[i]}}</h4>
            </div>
        </div>
    </div>
</div>
<ng-template #shownothing>
    <div class="stack-node">
        <h4>&nbsp;</h4>
    </div>
</ng-template>