#grid-view .queue-node {
    border-radius: 0px;
    border-width: 0px;
    border-top-width: 2px;
    border-left-width: 2px;
}

#grid-view .row .queue-node:last-child {
    border-right-width: 2px;
}

#grid-view .row:last-child .queue-node {
    border-bottom-width: 2px;
}
