<div class="component row">
    <div class="page-header" style="padding-left: 15px;">
        <h2>Linked List</h2>
    </div>
    <div class="col-md-2 sidebar">
        <ul class="nav nav-sidebar" style="margin-bottom: 10px;">
            <li style="width: 100%;">
                <div style="margin-bottom: 5px; width: 100%;">
                    <input class="form-control-sm" style="width: 100%;" type="text" placeholder="Value..." #node />
                </div>
                <div>
                    <button type="button" class="btn btn-sm" (click)="add(node.value); node.value='';">Add</button>
                    <button type="button" class="btn btn-sm" (click)="addLast(node.value); node.value='';">Add Last</button>
                    <button type="button" class="btn btn-sm" (click)="remove(node.value); node.value='';">Remove</button>
                </div>
            </li>
        </ul>
        <ul class="nav nav-sidebar" style="margin-bottom: 10px;">
            <li style="width: 100%;">
                <div style="margin-bottom: 5px; width: 100%;">
                    <input class="form-control-sm" style="width: 100%;" type="text" placeholder="Index..." #index />
                </div>
                <div>
                    <button type="button" class="btn btn-sm" (click)="add(node.value, index.value); node.value=''; index.value='';">Insert</button>
                    <button type="button" class="btn btn-sm" (click)="removeAt(index.value); node.value=''; index.value='';">Remove at Index</button>
                </div>
            </li>
        </ul>
        <ul class="nav nav-sidebar" style="margin-bottom: 10px;">
            <li style="width: 100%;">
                <div>Other Commands</div>
                <div style="margin-bottom: 5px;">
                    <button type="button" class="btn btn-sm" (click)="removeFirst(); node.value=''; index.value='';">Remove First</button>
                    <button type="button" class="btn btn-sm" (click)="removeLast(); node.value=''; index.value='';">Remove Last</button>
                </div>
                <div>
                    <button type="button" class="btn btn-sm" (click)="clear(); node.value=''; index.value='';">Clear</button>
                    <button type="button" class="btn btn-sm" (click)="reverse(); node.value=''; index.value='';">Reverse</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-md-offset-2">
        <div class="grid grid-pad">
            <div *ngFor="let node of list.nodes" class="col-">
                <div class="node">
                    <h4>{{node.value}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>